.cpd-tile {
	width: 200px;
	height: 200px;
	background-color: green;
}

.btn-grid-list {
	margin-left: 5px;
}


.navbar {
	margin-bottom: 0;
	background-color: #003366;
	color: #fff;
	border-top: 0;
}

.page-header-fuji {
	background-color: #e5e5e5; 
	margin-bottom: 15px;
	border-bottom: 1px solid #bdbdbd;
}

.page-header-fuji h2 {
	margin-top: 10px;
}

.container-no-padding {
	padding: 0 10px;
}

.navbar-brand {
	padding: 15px 10px;
	color: #fff;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:visited {
	color: #fff;
}

.navbar-toggle {
	border: 1px solid #004080;
}

.nav > li > a:hover {
	background-color: #004080;
}

.nav > li> a.active,
.nav > li a:hover .active {
	background-color: #eee;
	color: #003366;
}

.nav a {
	color: #fff;
}


.icon-bar {
	background-color: #fff;
}

@media (min-width: 768px) {
	.navbar {
		-webkit-border-radius: 0;
		border-radius: 0;
	}
}
