<div class="page-header-fuji">
	<div class="container container-no-padding">
		<h2>CPD Items Grid</h2>
	</div>
</div>

<div class="container container-no-padding">

	<p class="cpd-items-toolbar">
		<button class="btn btn-success">Create New</button>

		<a class="btn btn-default btn-grid-list pull-right active" title="Grid View"
		   data-ui-sref="cpdItemsGrid" data-ui-sref-active="active">
			<i class="glyphicon glyphicon-th"></i>
		</a>
		<a class="btn btn-default btn-grid-list pull-right" title="List View"
		   data-ui-sref="cpdItemsList" data-ui-sref-active="active">
			<i class="glyphicon glyphicon-list"></i>
		</a>
	</p>

	<div id="grid-filter" class="btn-group" opt-kind ok-key="filter" ng-cloak>
		<button type="button" class="btn btn-primary active" ok-sel="*">Filter by Type</button>
		<button ng-repeat="filterType in vm.filterTypes" class="btn btn-default" ok-sel=".{{filterType}}">{{filterType}}</button>
	</div>

	<ul id="isotope-container" data-isotope-container="isotope-container" ng-cloak>
		<li class="app-tile {{tile.type}}" ng-repeat="tile in vm.cpdItems" data-isotope-item="isotope-item" ng-click="vm.hello(tile.name)">
			<div class="app-tile-title">{{tile.publisher}}</div>
			<div class="app-tile-content">{{tile.name}}</div>
		</li>
	</ul>
</div>